<h1>{{actionType}} product</h1>
<form [formGroup]="form" #formDir="ngForm" (ngSubmit)="true">
    <div class="form-group row">
        <label for="name" class="control-label-col-md-12">Name</label>
        <div class="col-md-12">
            <input class="form-control" type="text" id="name" name="name" formControlName="name">
          </div>
          <span class="text-danger ml-3" *ngIf="name?.invalid && formDir.submitted">
            Name is required.
          </span>
    </div>
    <div class="form-group row">
        <label for="price" class="control-label-col-md-3">Price</label>
        <div class="col-md-12">
            <input class="form-control" type="number" id="price" name="price" formControlName="price">
          </div>
          <span class="text-danger ml-3" *ngIf="price?.invalid && formDir.submitted">
            Price is required.
          </span>
    </div>
    <div class="form-group row">
        <label for="instock" class="control-label-col-md-12">Instock</label>
        <div class="col-md-12">
            <input class="form-control" type="number" id="instock" name="instock" formControlName="instock">
          </div>
          <span class="text-danger ml-3" *ngIf="instock?.invalid && formDir.submitted">
            Instock is required.
          </span>
    </div>
    <div class="form-group row">
        <label for="description" class="control-label-col-md-12">Description</label>
        <div class="col-md-12">
            <textarea class="form-control" type="text" id="description" name="description" formControlName="description" rows="6"></textarea>
          </div>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary float-left" (click)="save()">Save</button>
        <button type="button" class="btn btn-secondary float-left" (click)="cancel()">Cancel</button>
      </div>
</form>